.navi {
    display: flex;
    justify-content: space-between;
}
  
.burger-menu {
    padding-top: 21px;
    padding-right: 25px;
}
  
#kaffee-bohne {
    padding-top: 10px;
    padding-left: 24px;
}