.h1-hero {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.p-hero{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.hero-header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/Coffee-latte-art.jpg);
  background-size: cover;
  text-align: center;
  background-position: center;    
}

.button-hero {
  padding-bottom: 60px;
  padding-top: 199px;
}

#hero-header-text {
  padding-top: 148px;
}

.btn-zum-Shop {
    background: #1A1A1A;
    background-image: -webkit-linear-gradient(top, #1A1A1A, #1A1A1A);
    background-image: -moz-linear-gradient(top, #1A1A1A, #1A1A1A);
    background-image: -ms-linear-gradient(top, #1A1A1A, #1A1A1A);
    background-image: -o-linear-gradient(top, #1A1A1A, #1A1A1A);
    background-image: linear-gradient(to bottom, #1A1A1A, #1A1A1A);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    margin-bottom: 60px;
}
  
.btn-zum-Shop:hover {
    background: #6e7275;
    text-decoration: none;
}

.btn-zum-Shop:active {
  background: #D7BE9D;
}