.h2-rösterei {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 34px;
    color: #000000;
    margin-left: 24px;
    margin-top: 60px;
}

.p-rösterei {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 24px;
    margin-right: 24px;
}

.p-zeiten {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding-right: 25px;
}

.Coffee-shop {
    width: 241px;    
}

@media (min-width: 576px) {
    .Coffee-shop {
        width: 400px;
    }
}

.bild-coffee-shop {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 24px;
}

#info-zeiten {
    display: flex;
    margin-left: 24px;
}

/*ab hier alles Bio-plant*/

.Coffee-plant {
    width: 241px;
}

.bild-coffee-plant {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 63px;
}