<div class="div-footer">
    <div class="footer-logo">
        <svg class="footer-Logo-Desktop" width="71" height="70" viewBox="0 0 71 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_13_244)">
             <path d="M35.8938 0L0.922241 34.9958L35.8938 69.9917L70.8653 34.9958L35.8938 0ZM8.05794 34.9958L35.8938 7.14065L63.7297 34.9958L35.8938 62.851L8.05794 34.9958Z" fill="white"/>
             <path d="M35.8938 13.9233C27.7601 13.9233 20.3583 23.9685 20.3583 34.9957C20.3583 46.023 27.7601 56.0682 35.8938 56.0682C44.0275 56.0682 51.4293 46.023 51.4293 34.9957C51.4293 23.9685 44.0275 13.9233 35.8938 13.9233ZM25.4148 34.9957C25.4148 30.1521 27.2861 25.3667 29.9224 22.304C29.6729 23.4109 29.5399 24.5511 29.5399 25.7162C29.5399 29.8941 31.1699 33.8223 34.114 36.7767C37.973 40.6384 38.2225 46.7553 34.8708 50.9082C29.9474 49.9845 25.4148 42.5608 25.4148 34.9957ZM41.8568 47.7041C42.9879 42.6441 41.6073 37.1346 37.6819 33.2064C33.8229 29.3448 33.5734 23.2278 36.9251 19.0749C41.8402 20.007 46.3811 27.4307 46.3811 34.9957C46.3811 39.856 44.5015 44.6498 41.8568 47.7041Z" fill="white"/>
            </g>
            <defs>
             <clipPath id="clip0_13_244"><rect width="69.9514" height="70" fill="white" transform="translate(0.922241)"/></clipPath>
            </defs>
        </svg>

        <svg class="footer-Logo-Mobile" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M17.4979 0L0 17.4979L17.4979 34.9958L34.9958 17.4979L17.4979 0ZM3.57032 17.4979L17.4979 3.57032L31.4255 17.4979L17.4979 31.4255L3.57032 17.4979Z" fill="white"/>
         <path d="M17.4979 6.96167C13.4282 6.96167 9.72473 11.9843 9.72473 17.4979C9.72473 23.0115 13.4282 28.0341 17.4979 28.0341C21.5676 28.0341 25.271 23.0115 25.271 17.4979C25.271 11.9843 21.5676 6.96167 17.4979 6.96167ZM12.2548 17.4979C12.2548 15.076 13.191 12.6833 14.5101 11.152C14.3853 11.7055 14.3187 12.2755 14.3187 12.8581C14.3187 14.947 15.1343 16.9111 16.6074 18.3884C18.5382 20.3192 18.663 23.3777 16.9861 25.4541C14.5226 24.9922 12.2548 21.2804 12.2548 17.4979ZM20.4815 23.8521C21.0474 21.322 20.3566 18.5673 18.3925 16.6032C16.4617 14.6724 16.3369 11.6139 18.0139 9.53746C20.4732 10.0035 22.7452 13.7153 22.7452 17.4979C22.7452 19.928 21.8047 22.3249 20.4815 23.8521Z" fill="white"/>
        </svg>
        <h3 class="h3-footer">Rustica</h3>
        <h4 class="h4-footer">Café & Rösterei</h4>
    </div>
    <div class="footer-Adresse">
        <div>
          <p class="p-footer">Komm uns besuchen!<br>Fraunhoferstr. 13, Kiel</p>
        </div>
        <div class="footer-Öffnungszeiten">
          <p class="p-footer">Mo – Fr 8–18 Uhr<br>Sa 11–18 Uhr</p>
        </div>
    </div>
    <div class="footer-Impressum">
        <div>
          <p class="p-footer">Impressum</p>
          <p class="p-footer">Datenschutz</p>
        </div>
        <div class="footer-Shop">
          <p class="p-footer">Café</p>
          <p class="p-footer">Shop</p>
          <p class="p-footer">Herkunft</p>
        </div>
    </div>
</div>