<div class="nav-mobile">
    <div class="div-nav-close">
            <svg class="nav-close" width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.678589 2.13623L10.75 7.24987M20.8214 12.3635L10.75 7.24987M10.75 7.24987L0.678589 12.3635M10.75 7.24987L20.8214 2.13623"
                    stroke="white" stroke-width="3" />
            </svg>
    </div>
    <div class="nav-navigation-items">
        <ul>
            <li><a href="../das-Cafe/index.html">das Café</a></li>
            <li><a href="../die-Herkunft/index.html">Herkunft</a></li>
            <li><a href="../Shop/index.html">Shop</a></li>
        </ul>
    </div>
</div>